@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  background-color: #121212;
}

.heading {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 5px;
  font-size: 40px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image {
  width: 370px;
  margin-top: 40px;
}

@media (max-width: 770px) {
  .container {
    margin: 0 10%;
  }
  .image {
    width: 100%;
  }
}
